
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewData["CategoryCount"]</h2>
<h2>@ViewData["HeadingSoftwareCount"]</h2>
<h2>@ViewData["WriterInA"]</h2>
<h2>@ViewData["False"]</h2>
<h2>@ViewData["True"]</h2>
<h2>@ViewData["A"]</h2>



